@use '../../../styles/variables.scss' as variables;

.inputText {
  margin: 10px auto;
  position: relative;
  width: 45%;
  label {
    color: #000;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    left: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    span {
      &.required {
        color: variables.$warning;
      }
    }
  }
  input {
    background: transparent;
    border: 0.5px solid;
    border-radius: 0;
    color: variables.$text-color;
    font-size: 0.875rem;
    font-weight: 400;
    min-height: 45px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
    &.withFocus {
      -webkit-appearance: none;
      appearance: none;
      box-shadow: 0 0 3px 2px #719ece;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &.withErrors input {
    border: 1px solid variables.$warning !important;
  }
}
